<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
    <link rel="icon" href="./photo/i-registered-eye.gif">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div >
        <button class="btn-lrg submit-btn" style="float : left; margin: 0%;"><a href="/"  style="text-decoration: none; color: #fff">Home</a></button>
     </div>
    <div>
        
        <div class="row">
            <h1>Registered Student </h1>
        </div>
        
        <div class="row">
            <h4 style="text-align:center">Thanks for registering with us!</h4>
        </div>
        <div class="block" style="margin : 10px;" border-radius="7%">
            <div class="container_grid">
                <div class="Image">
                    <h3>Image  </h3>
                    <img src="/image/<%= userName %>" class="img" style="width: 50%;height: 70%;border-radius: 6%;">
                </div>

                <div class="Name"  >
                    <div style="
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
">
                        <h3>Name  </h3>
                        <form action="/delete/<%= userName %>" method="post">
                            <button style="background-color: transparent; border: none; cursor: pointer;" >
                                <i class="fa fa-trash-o" style="font-size:35px;color:rgba(255, 0, 0, 0.812)"></i>
                            </button>
                       
                        </form>
                    </div>
                     
                    <h2><%= Name %> </h2>
                    
                </div>
                <div class="Email" >
                    <h3>UserName</h3>
                    <h2><%= userName %> </h2>
                </div>
                <div class="Phone" >
                    <h3>Phone Number</h3>
                    <h2><%= phoneNumber %> </h2>
                </div>

            </div>
        </div>

        
    </div>
    
</body>
</html>